*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    background-image: url("img/dandelion-seeds.png");
    background-position: left top;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.products__title {
    margin: 0 0 50px;
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
}

.main {
    padding: 60px 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clear-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 45px;
}

.products__item {
    width: 340px;
}

.card {
    min-height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
}

.card__image {
    display: block;
    width: 290px;
    height: 245px;
    margin-bottom: 25px;
}

.card__category {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    color: #A5A3B9;
    text-transform: uppercase;
}

.card__name {
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
}

.card__description {
    margin: 0 0 20px;
}

.card__compound {
    margin-bottom: 25px;
}

.compound__name {
    display: block;
    margin-bottom: 15px;
}

.compound__list {
    margin: 0;
    padding-left: 18px;
}

.card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}